*{
    margin: 0;
    padding:0;
    /* box-sizing: border-box; */
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:floralwhite
}
.container
{
    max-width:1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
    background-color: blue;
}
.h2{
    padding-top: 60px;
    size: 5ch;
    color:black;
    text-align: center;
    text-shadow: unset;
    animation: animate 10s linear infinite;
  }
  @keyframes animate{
     0%{
       opacity: 0;
     }
     50%{
       opacity: 0.7;
     }
     100%{
       opacity: 0;
     }
   }